<h1>Pending</h1>
<%= link_to_accept_all_photos 'data-behaviour' => 'accept-photo' if @photos.present? %></td>
<table>
<% @photos.pending.each do |photo| %>
  <tr class='photo'>
    <td><%= link_to image_tag(photo.original_url, :style => 'max-width:200px; max-height: 200px;'), photo.original_url, :target => '_blank' %></td>
    <td><%= link_to_accept_photo photo unless photo.accepted? %></td>
    <td><%= link_to_delete_photo photo %></td>
  </tr>
<% end %>
</table>

<h1>Accepted</h1>
<table>
<% @photos.accepted.each do |photo| %>
  <tr class='photo'>
    <td><%= image_tag(photo.attachment.url(:small)) %></td>
    <td><%= link_to_delete_photo photo %></td>
  </tr>
<% end %>
</table>
