<h1>Pending</h1>
<table>
<% @photos.pending.each do |photo| %>
  <tr class='photo'>
    <td><%= image_tag(photo.attachment.url(:small)) %></td>
    <td><%= link_to_accept_photo photo, 'data-behaviour' => 'accept-photo' unless photo.accepted? %></td>
    <td><%= link_to_delete_photo photo, 'data-behaviour' => 'delete-photo' %></td>
  </tr>
<% end %>
</table>

<h1>Accepted</h1>
<table>
<% @photos.accepted.each do |photo| %>
  <tr class='photo'>
    <td><%= image_tag(photo.attachment.url(:small)) %></td>
    <td><%= link_to_accept_photo photo, 'data-behaviour' => 'accept-photo' unless photo.accepted? %></td>
    <td><%= link_to_delete_photo photo, 'data-behaviour' => 'delete-photo' %></td>
  </tr>
<% end %>
</table>
