<% content_for :page_nav do %>
  <li><a href="#title_section">Title</a></li>
  <li><a href="#story_section">Our Story</a></li>
  <li><a href="#save_the_date_section">Save the Date</a></li>
  <li><a href="#wedding_details_section">Details</a></li>
  <li><a href="#accommodations_section"><span class="hidden-xs">Accommodations</span><span class="visible-xs-inline">Hotels</span></a></li>
  <li><a href="#about_vancouver_section">About Vancouver</a></li>
  <li><a href="#registry_section">Registry</a></li>
<% end %>

<section class="section" id="title_section">
  <%= page_nav_colour_swap_background %>
  <div class="container">
      <h1>
      Nick and Bre Get Married
      <small class="subtitle">
        <span class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">August 28, 2016</span>
        <span class="hidden-xs">/</span>
        <span class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">Brix Restaurant</span>
        <span class="hidden-xs">/</span>
        <span class="visible-xs-block visible-sm-inline visible-md-inline visible-lg-inline">Vancouver</span>
      </small>
    </h1>

    <%#= link_to 'RSVP', households_path, :class => 'btn' %>
  </div>
</section>

<section class="section" id="story_section">
  <%= page_nav_colour_swap_background %>
  <div class="container">
    <h1>Love at first bite</h1>
    <h2>The story of delicious nachos</h2>
    <p>At a Museum of Anthropology staff party on July 7, 2010, Nicholas Jakobsen put a tray of the strangest nachos Brianne Phaff had ever seen down in front of her. That tray sparked a conversation, and by the end of the night, Nick had fooled Bre into giving him her number. Nearly five years later, on Christmas Day, 2014, Nick asked Bre to marry him.</p>
    <div class="row">
      <div class="col-md-6">
        <span class="nick_avatar"></span>
        <span class="subtitle">Nick</span>
        <ul class="list-unstyled one_at_a_time_list" data-behaviour="one-at-a-time-list">
          <li>... eats ghost peppers without flinching.</li>
          <li>... regularly wakes up at 6am on Saturdays to run 16km.</li>
          <li>... has attended the Sasquatch music festival for 8 years in a row.</li>
          <li>... still goes trick-or-treating on Halloween.</li>
          <li>... climbed a mountain in Nepal when he was 17.</li>
          <li>... does a really great Arnold Schwarzenegger impression.
        </ul>
      </div>
      <div class="col-md-6">
        <span class="bre_avatar"><span class="bre_avatar_background"></span></span>
        <span class="subtitle">Bre</span>
        <ul class="list-unstyled one_at_a_time_list" data-behaviour="one-at-a-time-list">
          <li>... is originally from Calgary. She hates country music but loves the rodeo.</li>
          <li>... helped excavate a Neanderthal skull one summer in Spain.</li>
          <li>... regularly uses baking as a form of procrastination.
          <li>... can’t resist dancing to 80’s music.</li>
          <li>... once had dinner with Tongan royalty.</li>
          <li>... is a sucker for Tarantino movies.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section" id="save_the_date_section">
  <%= page_nav_colour_swap_background %>
  <div class="container">
    <h1>
      <small class="subtitle">Save the Date</small>
      August 28, 2016
    </h1>
  </div>
</section>

<section class="section" id="wedding_details_section">
  <%= page_nav_colour_swap_background %>
  <div class="container">
    <h1>
      Wedding Details
    </h1>
    <h2>Location</h2>
    <ul class="list-inline button_list">
      <li><a href="http://brixvancouver.com/" target="_blank" class="btn">Brix Restaurant</a></li>
      <li><a href="https://maps.google.com/?daddr=Brix+Restaurant+%26+Wine+Bar, Vancouver&saddr=Current+Location" target="_blank" class="btn">Directions</a></li>
    </ul>
    <p>
      Our wedding will be held at Brix Restaurant (1138 Homer Street),
      which is located in the neighbourhood of Yaletown in Vancouver, B.C.
      From downtown Vancouver, Brix Restaurant is easily accessible via transit, taxi, or by foot.
      Metered parking will be available around Homer Street and neighbouring blocks.
      Please note that there will be limited seating for the ceremony. We ask that those who are able kindly stand to reserve seats for those who may require one.
    </p>

    <h2>Schedule of Events</h2>
    <dl class="schedule">
      <dt class="timestamp">5:30pm</dt> <dd class="description">Ceremony</dd>
      <dt class="timestamp">6:00pm</dt> <dd class="description">Cocktails and Appetizers</dd>
      <dt class="timestamp">7:30pm</dt> <dd class="description">Dinner</dd>
      <dt class="timestamp">9:30pm</dt> <dd class="description">Dancing</dd>
    </dl>
  </div>
</section>

<section class="section" id="accommodations_section">
  <%= page_nav_colour_swap_background %>
  <div class="container">
    <h1><span class="hidden-xs">Accommodations</span><span class="visible-xs-inline">Hotels</span></h1>
    <p>For your convenience, we've reserved blocks of rooms at two hotels. All rooms in the blocks will be released to the public on <b>July 15, 2016</b>, so make sure to book before then! Given the high cost of hotels in Vancouver, we would also recommend checking out alternate accommodation options like <a href="https://www.airbnb.ca/c/nicholasj17?s=8" target="_blank">Airbnb</a>. We've even hooked you up with a credit towards your booking.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="hotel_block">
          <h1>
            <small class="subtitle"><b>Rosedale on Robson Suites</b></small>
          </h1>
          <p>This is a 3-star hotel in the center of downtown. It is 4 blocks away from Brix Restaurant and the closest Skytrain station (Yaletown Roundhouse). All rooms are suites, complete with a kitchenette and living space. Group rates are $189 + tax for a one bedroom suite and $249 + tax for a two bedroom suite.</p>
          <p>To book, call 1-800-661-8870 and quote group code 602125 or book online.</p>
        </div>
        <ul class="list-inline button_list">
          <li><a href="https://www.reservations-page.com/C00000/H08749/be.ashx?pc=602125&hid=8749&cid=0&acid=admin&unq=aa6b74ed-debd-43d1-93d8-5bd46137d1da" target="_blank" class="btn">Online Booking</a></li>
          <li><a href="https://maps.google.com/?daddr=Rosedale+on+Robson+Suite+Hotel, Vancouver&saddr=Current+Location" target="_blank" class="btn">Directions</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="hotel_block">
          <h1>
            <small class="subtitle"><b>Sheraton Wall Centre <span class="hidden-md">Vancouver</span></b></small>
          </h1>
          <p>This is a 4-star hotel in the center of downtown. It is 6 blocks away from Brix Restaurant and the closest Skytrain station (Vancouver City Centre). All rooms will be located in the newly renovated South Tower, and include complimentary Wifi. Group rates are $229 + tax for a Single or Double room.</p>
          <p>To book, call 1-800-663-9255 and quote "Brianne Phaff and Nicholas Jakobsen Wedding" or book online.</p>
        </div>
        <ul class="list-inline button_list">
          <li><a href="https://www.starwoodmeeting.com/events/start.action?id=1509286469&key=9C003E" target="_blank" class="btn">Online Booking</a></li>
          <li><a href="https://maps.google.com/?daddr=Brix+Restaurant+%26+Wine+Bar, Vancouver&saddr=Current+Location" target="_blank" class="btn">Directions</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section" id="about_vancouver_section">
  <%= page_nav_colour_swap_background %>
  <div class="container">
    <h1>About Vancouver</h1>
    <h2>Getting Around</h2>
    <p>
      We both love Vancouver and we are very excited by this opportunity to share it with you. It has something for
      everyone! The easiest way to get around the city is to use public transit like the buses and Skytrains. If that's
      not your thing, we also have taxis. Like any major city, all of Vancouver's transit options are
      <%= link_to 'available on Google Maps', 'https://www.google.com/maps', :target => '_blank' %>, so plan your trips there.
    </p>
    <div class="row">
      <div class="col-md-4">
        <h1>
          <small class="subtitle"><b>Skytrain</b></small>
        </h1>
        <p>
          There are several other lines, but the Canada line is the one you'll use most while you're here.
          It travels from the airport to Waterfront Station in downtown Vancouver.
        </p>
        <a href="http://www.translink.ca/-/media/Documents/schedules_and_maps/transit_maps/SkyTrainSystemMap.pdf" target="_blank" class="btn">Skytrain Map</a>
      </div>
      <div class="col-md-4">
        <h1>
          <small class="subtitle"><b>Bus</b></small>
        </h1>
        <p>Buses are cheap and easy to use. They stop every couple blocks and allow you to transfer to
          other buses, skytrains, or even the <%= link_to 'Seabus', 'https://en.wikipedia.org/wiki/SeaBus', :target => '_blank' %> if you want to explore the
          <%= link_to 'North Shore', 'http://vancouversnorthshore.com/things-to-do/', :target => '_blank' %>.
        </p>
      </div>
      <div class="col-md-4">
        <h1>
          <small class="subtitle"><b>Taxi</b></small>
        </h1>
        <p>
          Taxis are also readily available in Vancouver. Taxis can easily be hailed from any main street. There is a $31
          fixed rate from the airport to downtown.
        </p>
        <ul class="list-inline button_list">
          <li><a href="http://www.avancouvertaxi.com/" target="_blank" class="btn">Vancouver Taxi</a></li>
          <li><a href="http://www.yellowcabonline.com/" target="_blank" class="btn">Yellow Cab</a></li>
        </ul>
      </div>
    </div>
    <h2>Attractions</h2>
      <table class="table">
        <caption>I want to ...</caption>
        <tr>
          <td class="col-md-4">... go for a hike</td>
          <td>Climb <a href="https://www.vancouvertrails.com/trails/stawamus-chief/" target="_blank">The Chief</a>!</td>
        </tr>
        <tr>
          <td>… shop and eat tasty food by the waterfront</td>
          <td>Explore <a href="http://granvilleisland.com/" target="_blank">Granville Island</a>!</td>
        </tr>
        <tr>
          <td>… go for a walk in the forest</td>
          <td>Walk around <a href="http://vancouver.ca/parks-recreation-culture/stanley-park.aspx" target="_blank">Stanley Park</a>!</td>
        </tr>
        <tr>
          <td>… go to the beach</td>
          <td>Sunbathe at English Bay, Kits Beach, or if you’re adventurous, Wreck Beach!</td>
        </tr>
        <tr>
          <td>… feel like a kid again</td>
          <td>Spend a day at Science World!</td>
        </tr>
        <tr>
          <td>… see the local wildlife</td>
          <td>Visit the Vancouver Aquarium or take a Sea Safari at Sewell’s Marina!</td>
        </tr>
        <tr>
          <td>… experience historic Vancouver</td>
          <td>Wander around Gastown!</td>
        </tr>
        <tr>
          <td>… view a panorama of Vancouver</td>
          <td>Take the elevator up the Vancouver Lookout or take the gondola up Grouse Mountain!</td>
        </tr>
        <tr>
          <td>… explore Vancouver’s history and culture</td>
          <td>Visit the Museum of Anthropology or the Museum of Vancouver!</td>
        </tr>
        <tr>
          <td>… visit thrift shops and trendy restaurants</td>
          <td>Explore Main Street or Commercial Drive!</td>
        </tr>
      </table>
    <h2>Restaurants</h2>
      <table class="table">
        <caption>I'm in the mood for ...</caption>
        <tr>
          <td class="col-md-4">... sushi</td>
          <td>Kishimoto (get there at 5:00pm if you don't want to wait!) or Fresh Sushi</td>
        </tr>
        <tr>
          <td>... a good casual brewery</td>
          <td>The Brassneck</td>
        </tr>
        <tr>
          <td>... brunch</td>
          <td>Cafe Medina</td>
        </tr>
        <tr>
          <td>... tasty upscale dining</td>
          <td>Chambar or Tableau Bar Bistro</td>
        </tr>
        <tr>
          <td>... icecream!</td>
          <td>Bella Gelateria</td>
        </tr>
        <tr>
          <td>... tasty upscale dining</td>
          <td>Chambar or Tableau Bar Bistro</td>
        </tr>
        <tr>
          <td>... tasty casual dining</td>
          <td>Burgoo</td>
        </tr>
        <tr>
          <td>... pizza</td>
          <td>Candia Taverna</td>
        </tr>
        <tr>
          <td>... Mexican</td>
          <td>Tacofino</td>
        </tr>
      </table>
  </div>
</section>

<section class="section" id="registry_section">
  <%= page_nav_colour_swap_background %>
  <div class="container">
    <h1>
      Registry
    </h1>
    <p>We have created wishlists at Amazon.ca and Mountain Equipment Co-op. Given the size and lack of storage in our apartment, we would also appreciate gift cards to Amazon, West Elm, or Ikea. If you wish to ship items directly to us, you may ship them to:</p>
    <address>
      1903 - 1060 Alberni Street<br>
      Buzzer 129 <br>
      Vancouver, B.C. Canada <br>
      V6E 4K2 <br>
    </address>

    <div class="row">
      <div class="col-md-6">
        <h1>
          <small class="subtitle"><b>Amazon.ca</b></small>
        </h1>
        <p>Some items on our Amazon.ca wishlist are from external stores. If purchasing an item from an external store, you will need to go to that store's website or visit the store in-person to purchase the item. Once purchased, return to the list and click the "Buying this gift elsewhere?" button on the item to mark it as complete.</p>
        <a href="http://www.amazon.ca/registry/wishlist/3GYW51O5U9QPX" class="btn" target="_blank">View Registry</a>
      </div>

      <div class="col-md-6">
        <h1>
          <small class="subtitle"><b>Mountain Equipment Co-op</b></small>
        </h1>
        <p>
          We're going on a hiking trip after the wedding and could use a few supplies to make sure we're prepared.
          MEC is a co-op so you need to be a member to buy stuff. If you're not a member, you can either
          <%= link_to 'join', 'https://www.mec.ca/Membership/member_application.jsp', :target => 'blank'%>, or call their Service Center
          (1.888.847.0770) to make gift purchases.
        </p>
        <a href="http://www.mec.ca/Apps/wishList/wishlist_main.jsp?id=ek1%3A3be1afefa494c5537e05755fcdb66e13" class="btn" target="_blank">View Registry</a>
      </div>
    </div>
  </div>
</section>

<section class="section" id="footer_section">
  <div class="container">
    Made with <%= "<3" %>
    <br>Nick + Bre
  </div>
</section>
