<%= s3_uploader_form(callback_url: photos_url, key_starts_with: 'originals', :id => 'photos_upload_form') do |f| %>
  <%= content_tag :label, photos_path, :class => 'btn' do %>
    <%= file_field_tag "file", :multiple => true %>
    <%= content_tag :span, 'Upload Photos', 'data-disable-with' => 'Uploading...' %>
    <div class="upload_progress"></div>
  <% end %>
<% end if false %>

<%= link_to 'View the gallery', photos_path, :class => 'btn' %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  <div class="bar">
    <%= content_tag :span, 'Uploading...', :class => 'btn active' %>
  </div>
</div>
</script>
