<nav id="page_nav" class="hidden-xs hidden-sm">
  <div id="section_link_container">
    <ul class="nav" role="tablist">
      <li><a href="/#title_section">Home</a></li>
    </ul>
    <a id="brand" href="/#title_section">Nick + Bre</a>
    <ul class="nav" role="tablist">
      <li><a href="#gallery_section">Photos</a></li>
    </ul>
  </div>
</nav>

<section class="section" id="gallery_section">
  <%= page_nav_colour_swap_background %>
  <ul class="gallery">
    <% @photos.each do |photo| %>
      <%= link_to photo.attachment.url(:full), :target => '_blank', :class => 'photo' do %>
        <li data-responsive-image>
          <%= tag :img, 'data-src' => photo.attachment.url(:small) %>
          <%= tag :img, 'data-src' => photo.attachment.url(:medium), 'min-width' => 200 %>
          <%= tag :img, 'data-src' => photo.attachment.url(:large), 'min-width' => 400 %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <% unless @photos.present? %>
  <div class="container">
    <h1>Gallery is empty :(</h1>
    <h2>Please come again!</h2>
  </div>
  <% end %>
</section>

<%= javascript_include_tag 'resize_sensor', 'element_queries' %>
