<%= link_to "New Person", new_admin_person_path, :style => 'float:right' %>

(<%= Person.not_responded.count %>) Waiting for Response /
(<%= Person.responded.count %>) RSVP'd /
(<%= Person.attending.count %>) Yes /
(<%= Person.not_attending.count %>) No

<hr/>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>First Name</th>
      <th>Nickname</th>
      <th>Last Name</th>
      <th>RSVP</th>
      <th>Diet Requests</th>
      <th>Song Requests</th>
      <th>Email Address</th>
      <th>Street Address</th>
      <th>City</th>
      <th>Province</th>
      <th>Country</th>
      <th>Postal Code</th>
    </tr>
  </thead>
<% @people.group_by(&:household).each do |household, people| %>
  <tbody class='striped'>
  <% people.each do |person| %>
    <tr>
      <td><%= person.title %></td>
      <td><%= person.first_name %></td>
      <td><%= person.nickname %></td>
      <td><%= person.last_name %></td>
      <td><%= person.attending_wedding %></td>
      <td><%= person.food_requirements %></td>
      <td><%= person.song_requests %></td>
      <td><%= person.email_address %></td>
      <td><%= person.full_street_address %></td>
      <td><%= person.city %></td>
      <td><%= person.province %></td>
      <td><%= person.country %></td>
      <td class="squish"><%= person.postal_code %></td>
      <td><%= link_to 'Edit', edit_admin_person_path(person) %></td>
    </tr>
  <% end %>
  </tbody>
<% end %>
</table>
