<!DOCTYPE html>
<html>
<head>
  <title>Nick and Bre Get Married</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= ie_compatibility %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= flash_messages %>

<% if content_for? :page_nav %>
<nav id="page_nav" class="hidden-xs">
  <ul class="nav" role="tablist">
    <%= content_for :page_nav %>
  </ul>
</nav>
<% end %>

<%= yield %>

</body>
</html>
