<!DOCTYPE html>
<html>
<head>
  <title>Weddingwebsite</title>
  <%= stylesheet_link_tag    'households', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'households', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container paper" id="main_container">
  <div class="inlay">
    <%= flash_messages %>
    <%= yield %>
  </div>
</div>

</body>
</html>
