<section class="section" id="rsvp_edit_section">
  <div class="container">
    <%= simple_form_for @household, :url => household_path(@household, params.slice(:first_name, :last_name)), :html => {:id => 'household_form'} do |f| %>
      <h1 class="paper_title">Invitations for your Household</h1>

      <%= f.fields_for :people do |g| %>
        <fieldset>
          <h2><%= g.object.first_name %> <%= g.object.last_name %></h2>
          <%= g.input :attending_wedding, :as => :radio_buttons, :wrapper_html => {data: {:behaviour => 'on-value-show', :value => 'true', :show => "##{dom_id(g.object)}_attending_fields" }} %>
          <%= content_tag :div, :id => "#{dom_id(g.object)}_attending_fields" do %>
            <%= g.input :food_requirements %>
            <%= g.input :song_requests %>
          <% end %>
        </fieldset>
      <% end %>

      <hr/>

      <%= f.submit 'Done', :class => 'btn' %>
    <% end %>
  </div>
</section>
